$phone:767px;  
$white: #ffffff;
$nobel: #b6b3b3;
$mineShaft: #323232;
$silverChalice: #ABA4A4;
$transparent: transparent;
$neonCarrot: #FF9933;
$superNova: #FFCC00;

.container {
    padding: 20px;
    text-align: center;
  }
  
  .header {
    position: relative;
    display: inline-block;
    color: $white;
    font-size: 2em;
    text-align: center;
    font-weight: normal;
    margin-bottom: 1em;
  
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translate(-50%);
      width: 80%;
      height: 0.5px;
      background-color: $white;
    }
  }
  
  .blocks {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  
    .block-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: left;
    }
  
    .block-right {
      text-align: right;
  
      @media (min-width: $phone) {
        text-align: center;
        flex-direction: column;
      }
    }
  
    .block-more-right {
      @media (min-width: $phone) {
        display: flex;
        flex-direction: row;
      }
    }
  
    .block-footer {
      display: none;
  
      @media (min-width: $phone) {
        display: block;
        width: 100%;
      }
    }
  }
  
  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5em;
    text-align: center;
  }

  
  .title_cut{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .label {
    display:block;
    position: relative;
    cursor: pointer;
    margin-bottom: 1em;
  }
  
  .button {
    width: 130px;
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: $transparent;
    color: $nobel;
    border: solid 1px;
    display: flex;
    align-items: center;
  
    @media (min-width: $phone) {
      margin: 10px;
      &:hover {
        cursor: pointer;
        background: linear-gradient(to top left, $superNova 0%, $neonCarrot 60%);

        .button-paragraph{
          color: $white;
        }
      }
    }
  }
  
  .button-paragraph {
    display: flex;
    display: block;
    font-weight: bold;
    align-items: center;
    font-size: 15px;
    margin: auto;
    color: $silverChalice;


  }
  
  .footer1 {
    display: block;
    margin-top: 30px;
    margin-bottom: 90px;

  
    @media (min-width: $phone) {
      display: none;
    }
  }
  
  .footer-text {
    margin-bottom: 140px;
  }
  
  .radio-button {
    display: none;

    &:checked + i {
        background-color: $white;
    }

    &:hover {
        cursor: pointer;
      }
  }

  .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 4px solid $white;
    box-shadow: inset 0 0 0 4px $mineShaft;
    transition: .25s;

  }

  .check_text{
    display: inline-block;
    padding-bottom: 3px;
    color: $nobel;
    margin-left: 0.5em;
    font-size: 1em;
  }



